.Perfil{
    background-color: #141414;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

}
.Perfil-contenedor{
    width: 100%;
    color: #fff;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Perfil-h1{
    color: #a1a1a1;
    font-size: 3em;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: .5em;
}
.Perfil-grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    margin: 6em 0em;
}
.Perfil-btn{
    cursor: pointer;
    font-weight: 600;
    padding: .5em 2em;
    font-size: 1.5em;
    color: #212121;
    background-color: #fff;
    border-radius: 2px;
}
.Perfil-btn:hover{
    background-color: #e50914;
    color: #fff;
}
.Crear-contenedor{
    margin: 0em 0em 1em;
}
.Crear-btn{
    cursor: pointer;
    border-radius: 5px;
}
.Crear-img{
    height: 12em;
    width: 12em;
    padding: 2em;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #212121;
}
.Crear-img:hover{
    background-color: grey;
}
.NuevoPerfil-contenedor{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.NuevoPerfil-btn{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    width: 2.5em;
    height: 2.5em;
    padding: .7em;
    border: 2px solid #fff;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 1em;
}
.NuevoPerfil-btn:hover{
    opacity: 1;
}
.NuevoPerfil-Img-wrapper{
    border-radius: 5px;
    filter: saturate(2);
}
.NuevoPerfil-img{
    display: block;
    height: 12em;
    width: 12em;
    border-radius: 5px;
    mix-blend-mode: luminosity;
}
.NuevoPerfil-img:hover{
    border: 2px solid #fff;
}
.NuevoPerfil-botones{
    width: calc(100% - 4em);
    border-top: 1px solid #666;
    padding-top: 1em;
    margin-bottom: 1em;
}
.NuevoPerfil-h2{
    font-size: 1.6em;
    line-height: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
    margin: .5em 0;
}
.NuevoPerfil-p{
    font-size: 1.4em;
    hyphens: none;
    line-height: 1.3em;
    font-weight: 400;
    margin: .5em 0;
    color: #fff;
}
.PopPerfil-contenedor{
    width: 100%;
    max-width: 120rem;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    padding: 2em;
    position: absolute; /*  PONER EN ABSOLUTE  */
    top: 0;
    background-color: #000;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.isActive{
    display: flex;
}

.Perfil-contenedor.isActive {
    display: none;
}
.NuevoPerfil-form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Input-contenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #666;
    padding: 2em;
    margin: 2em 0em;
    gap: 2em;
}
.Submit-contenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.NuevoPerfil-input{
    padding: .5em 1em;
    font-size: 1.5em;
    margin: 0 0 1em;
    border-radius: 2px;
    color: #fff;
    background-color: #484848;
}
.NuevoPerfil-input:last-child{
    margin: 0;
}
.NuevoPerfil-submit{
    cursor: pointer;
    font-weight: 600;
    margin: 0 0 1em;
    padding: .5em 2em;
    font-size: 1.5em;
    color: #666;
    background-color: #fff;
    border-radius: 2px;
}
.NuevoPerfil-submit:hover{
    background-color: #e50914;
    color: #fff;
}
@media (max-width:1500px){
    .Perfil-grid{
        margin: 2em 0 0;
    }
}
@media (max-width: 900px){
    .Perfil{
        padding: 3em 1em;
    }
    .Perfil-h1{
        color: #a1a1a1;
        font-size: 2em;
        font-weight: 500;
        line-height: 1em;
        margin-bottom: 1em;
    }
    .Perfil-grid {
        gap: 0em;
        margin: 2em 0em;
    }
    .NuevoPerfil-img,
    .Crear-img{
        height: 10em;
        width: 10em;
    }
}
@media (max-width: 600px){
    .Perfil-h1{
        margin-bottom: .5em;
    }
    .PopPerfil-contenedor{
        padding: 2em 1em;
    }
    .Input-contenedor{
        flex-flow: column;
    }
    .NuevoPerfil-contenedor{
        margin-bottom: 2em;
    }
    .NuevoPerfil-input{
        font-size:  1em ;
    }
    .NuevoPerfil-submit{
        font-size: 1em;
    }
}