.Reproducir{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: aliceblue;
}
.Reproducir-contenedor{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.Reproducir-icon{
    width: 3em;
    height: 3em;
    fill: #fff;
    cursor: pointer;
    animation: .5s all ease;
}
.Reproducir-icon:hover{
    transform: scale(1.1);
}
.Navegar-contenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3em;
}
.Video-contenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3em;
}
.Info-contenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3em;
}
.Info-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
@media (max-width: 900px) {
    .Reproducir-contenedor{
        transform: rotate(90deg);
        display: block;
        width: 100%;
        height: 100vw;
        position: relative;
    }
    .Reproducir-icon{
        width: 2em;
        height: 2em;
    }
    .Navegar-contenedor{
        position: absolute;
        top: 0;
    }
    .Video-contenedor{
        position: absolute;
        top: calc(50% - 3em);
    }
    .Info-contenedor{
        position: absolute;
        bottom: 0;
    }
    .Navegar-contenedor,
    .Video-contenedor,
    .Info-contenedor{
        width: 100vh;
        padding: 1rem;
    }
}
@media (max-width: 600px) {
    .Reproducir-contenedor{
        transform: rotate(90deg);
        display: block;
        width: 100%;
        height: 100vw;
        
    }
    .Reproducir-icon{
        width: 1em;
        height: 1em;
    }
    .Navegar-contenedor,
    .Video-contenedor,
    .Info-contenedor{
        width: 100vh;
        padding: 1rem;
    }
}