.Series{
    max-width: 120rem;
    min-height: 100vh;
    background-color: #202020;
    padding: 5em 3em 0em 3em;
}
.Series-contenedor{
    min-height: 80vh;
}
@media (max-width: 600px){
    .Series{
        padding: 5em 1em 0em;
    }
}