.Login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background: url('/assets/fondo-login.webp') no-repeat center right / cover fixed;
}
.Header-wrapper{
    width: 100%;
    background-color: #000000aa;
}
.Login-header{
    margin: 0 auto;
    max-width: 120rem;
    
}
.Login-h1{
    padding: 2em;
    max-width: 9rem;
}
.Login-img{
    width: 100%;
}
.Login-container{
    background-color: black;
    padding: 3em 3em;
    margin: 2em 0em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}
.Login-h2{
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin-bottom: 1.5em;
}

.Login-input{
    width: 20em;
    padding: 1em;
    color: lightgrey;
    border-radius: 0.5em;
    border-bottom: 1px solid #e87c03;
    background-color: #3e3e3e;;
    margin-bottom: 2em;
}
.Login-input.submit{
    background-color: #e50914;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.Login-footer{
    width: 100%;
    padding: 2em;
    background-color: #00000099;
    margin-bottom: 0em;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}
.Error-p{
    color:#e87c03;
    font-weight: 700;
}
@media (max-width:600px) {
    .Login{
        background: url('/assets/fondo-login.webp') no-repeat center center / cover;
    }
    .Login-h1{
        max-width: 6rem;
    }
    .Login-container{
        padding: 2em;
    }
    .Login-input{
        width: 15em;
    }
}