.App{
    background-color: #000;
}
.Netflix-intro{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: cargarNetflix 4000ms ease-in 1 forwards;
}
.Netflix-contenedor{
    opacity: 0;
    animation: fadeNetflix 500ms ease-in 4000ms 1 forwards;
}

@keyframes cargarNetflix {
    0%{
        opacity: 0;
        transform: scale(1);
    }
    10%{
        opacity: 100%;
        transform: scale(1);
    }
    90%{
        opacity: 100%;
        transform: scale(1)
    }
    95%{
        opacity: 0%;
        transform: scale(3)
    }
    100%{
        opacity: 0%;
        transform: scale(3);
    }
}

@keyframes fadeNetflix {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}